/ {
	aliases {
		led = &led0;
	};

	leds {
		compatible = "gpio-leds";
		led0: red_led {
			gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
		};
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	shtc3@70 {
		compatible = "sensirion,shtc3", "sensirion,shtcx";
		reg = <0x70>;
		measure-mode = "normal";
		clock-stretching;
	};
};

&wifi {
	status = "okay";
};
